nav ul li .boton {
    background-color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
}

.main-image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.intro {
    padding: 20px;
    text-align: center;
}

.intro article {
    margin-top: 20px;
}

.contenedor {
    display: flex;
    flex-wrap: wrap; /* elementos a la siguiente fila si no caben */
    gap: 20px; /* Espaciado entre los elementos */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    max-width: 1200px; /* Opcional: Define un ancho máximo para el contenedor */
    padding: 0 20px; /* Espacio adicional en los laterales (margen interno) */
  }
  
  .estructura1 {
    flex: 48%; /* Ocupa el 48% del contenedor (2 bloques en una fila) */
    background-color:  #f4f4f4; /* Color de fondo para visualizar */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    box-sizing: border-box; /* Para que el padding no afecte el tamaño total */
    text-align: center; /* Centrar texto e imágenes dentro */
  }
  
  .contenedor .estructura1 img {
    float: left; /* Posiciona la imatge a l'esquerra */
    margin-right: 15px; 
    max-width: 150px;
    height: auto; 
  }

  .tituloIzq {
    text-align: left;
  }

  .estructura {
    flex: 30%; /* Ocupa el 30% del contenedor (3 bloques en una fila) */
    background-color: #ffffff; /* Color de fondo para visualizar */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    box-sizing: border-box; /* Para que el padding no afecte el tamaño total */
    text-align: center; /* Centrar texto e imágenes dentro */
  }
  


.footer {
    display: flex;
    justify-content: space-between; /* Espacio entre las secciones */
    align-items: center; /* Centra verticalmente */
    padding: 20px; /* Añade espacio alrededor */
    background-color: #f4f4f4; /* Fondo del footer */
  }
  
  .footer section {
    flex: 1; /* Cada sección ocupa el mismo ancho */
    text-align: center; /* Centra el contenido dentro de cada sección */
  }
  
  .footer1 {
    text-align: left; /* Alineación izquierda */
  }
  
  .footer3 {
    text-align: right; /* Alineación derecha */
  }


.footer .botones button {
  background-color: black; 
  color: white; 
  border-radius: 5px; 
  padding: 5px 10px; 
  margin: 0 5px; 
  font-size: 12px; 
}

.footer .botones button:hover {
  background-color: white; 
  color: black; 
  border: 1px solid black; 
}