.principal {
    width: 100%;
    height: auto;
}

article {
    background-color: #e9e9e9;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

article:hover {
    background-color: #d4d4d4;
}


main section div {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px; 
    padding: 20px;

}

main section div img {
    width: 30%; 
    height: auto; 
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer div {
    display: flex;
    flex-direction:row; /* Cambia la dirección de las imágenes a columna */
    align-items: center; /* Centra las imágenes horizontalmente */
    gap: 20px; /* Espacio entre las imágenes */
}

footer img {
    width: 100px; /* Ajusta el tamaño de las imágenes */
    height: auto;
}
